/* :#21B3B3; */
/* :#C1F8F7 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* aside {
  display: inline-block;
} */

.sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  background: #21B3B3;
  font-size: 0.65em;
}

.user-avatar {
  padding: 2.75em 4em 0em 2.55em;
  text-align: center;
}
  
img.avatar {
  position: relative;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.2);
}

.nav {
  position: relative;
  margin: 0 10% 15% 15%;
  text-align: right;
  top: 27%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  background-color: #21B3B3;
  list-style: none;
}
  
.nav ul li {
  position: relative;
  margin: 3.0em 0;
}
    
.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: whitesmoke;
  display: block;
  transition: all ease-out 300ms;
}

.nav ul li a.active a {
  color: whitesmoke;
}

.nav ul li a:not(.active)::after {
  opacity: 0.2;
}

.nav ul li a:not(.active):hover a {
  color: whitesmoke;
}

.nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, rgb(73, 190, 190), #C1F8F7)
}

