.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.loginLeft {
  align-self: center;
  height: 100vh;
  background-image: url('../../shiba.gif');
  background-size: cover;
  background-position: center;
  repeat-y: none;
} 

.loginRight {
  align-self: center;
  text-align: center;
}

.loginHeader {
  font-family: 'Tiempos Text';
  font-size: 59px;
  margin-top: -110px;
  padding-top: 45px;
}

.loginButton {
  background-color: #21B3B3 !important;
  font-size: 20px !important;
}